<!-- @format -->

<% include partial/header %>
<body class="formPageBody">
  <div class="container">
    <form
      class="eventForm flex flex-direction-column justify-between"
      action="/events"
      method="post"
    >
      <h2>enter event</h2>
      <input type="text" name="title" placeholder="title" />

      <textarea
        name="summary"
        id=""
        cols="30"
        rows="7"
        aria-placeholder="summary"
      >
      </textarea>

      <input type="text" name="host" placeholder="host" />

      <div class="formDateBox flex justify-between">
        <div>
          <label for=""> start date</label>
          <input type="date" name="startDate" />
        </div>
        <div>
          <label for="">End date</label>
          <input type="date" name="endDate" />
        </div>
      </div>

      <input type="text" name="categories" placeholder="categories" />

      <input type="text" name="location" placeholder="location" />
      <input class="submit" type="submit" value="Submit Event" />
    </form>
  </div>
</body>
<% include partial/footer %>
