<!-- @format -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheets/style.css" />

    <link
      href="https://fonts.googleapis.com/css2?family=Cedarville+Cursive&family=Signika:wght@500&display=swap"
      rel="stylesheet"
    />
    <title>events</title>
  </head>
  <body>
    <header class="particleHeader">
      <nav class="container">
        <ul class="flex justify-between">
          <li class="particleLogo">
            <a href="">eventador </a>
          </li>

          <div class="flex justify-between particleNavLink align-center">
            <li>
              <a href="/">home</a>
            </li>
            <li>
              <a href="/events">all event</a>
            </li>
            <li>
              <a href="/events/new">add event</a>
            </li>
          </div>
        </ul>
      </nav>
    </header>
  </body>
</html>
